$background-orange: #ebb85d;
$background-black: #3e3f40;
$font-color-black: black;
$font-color-white: white;

$full-width: 100%;
$mediun-width: 50%;
$small-width: 30%;

$font-family: helvetica;

$break-small: 320px;
$break-medium: 720px;
$break-large: 1200px;

