@import 'variables';
* {
    margin: 0;
    font-family: $font-family;
}

#theSections {
        display: grid;
        grid-template-columns: 1fr;
    }

nav {
    width: $full-width;
    background: $background-orange;
    color: $font-color-white;
    padding: 2%;
    font-family: $font-family;
}

#sections {
    ul {
        list-style: none;
        li {
            background: $background-black;
            color: $font-color-white;
            padding: 1%;
            margin-top: 1%;
            font-family: $font-family;
            &:hover {
                background: $background-orange;
                color: $font-color-black;
            }
        }
    }
}

.aside {
    background: $background-black;
    text-align: center;
    color: $font-color-white;
    padding: 2%;
}

footer {
    width: $full-width;
    background: $background-black;
    margin-top: 2%;
    padding: 2%;
    color: $font-color-white;
    text-align: center;
    clear: both;
}



@media (max-width: $break-small) {
    #theSections {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: $break-medium) {
    #theSections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #sections,
    #section2{
        
        grid-template-columns: 1fr ;
        
    }
    
    #aside{
//        display: grid;
        grid-column: 1/3 ;
    }
}

@media (min-width: $break-large) {
    #theSections {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
