$background-orange: #ebb85d;
$background-black: #3e3f40;
$font-color-black: black;
$font-color-white: white;
$nav-width: 100%;
$font-family: helvetica;

*{
    margin: 0;
}

nav{
    width: $nav-width;
    background: $background-orange;
    color: $font-color-white;
    padding: 2%;
    font-family: $font-family;
}

#setions{
    ul{
        list-style: none;
        li{
            background: $background-black;
            color: $font-color-white;
            padding: 1%;
            margin: 1%;
            font-family: $font-family;
        }
        
    }
}