@import 'variables';

* {
    margin: 0;
    font-family: $font-family;
}

nav {
    width: $full-width;
    background: $background-orange;
    color: $font-color-white;
    padding: 2%;
    font-family: $font-family;
}

#setions {
    ul {
        list-style: none;
        li {
            background: $background-black;
            color: $font-color-white;
            padding: 1%;
            margin-top: 1%;
            font-family: $font-family;
            &:hover {
                background: $background-orange;
                color: $font-color-black;
            }
        }
    }
}

.aside {
    background: $background-black;
    text-align: center;
    color: $font-color-white;
    padding: 2%;
}


footer{
    width: $full-width;
    background: $background-black;
    margin-top: 2%;
    padding: 2%;
    color: $font-color-white;
    text-align: center;
}